.Code {
  background-color: var(--palette-white-1);
  border: 1px solid var(--palette-white-2);
  white-space: pre-line;
  font-size: 1rem;
  line-height: normal;
  font-family: Menlo, monospace;
}

.inline {
  display: inline-block;
}
