*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body,
#__next,
#root {
  height: 100%;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

.slang-box {
  /* Defaults are reset for each element */
  --display: grid;
  --padding: 0;
  --contain: none;
  --template: none;
  --place: normal;
  --gap: 0;
  --flow: rows;

  display: var(--display);
  padding: calc(var(--padding) * 10px);
  /* contain omitted */
  grid-template: var(--template);
  /* place-content: var(--place); */
  gap: calc(var(--gap) * 10px);
  /* grid-auto-flow: var(--flow); */
  overflow: var(--overflow);

  /* NEEDED THIS BUT FIND IT VERY ANNOYING */
  /* height: 100%; */
}

.slang-box.h {
  height: 100%;
}
.slang-box.mh {
  min-height: 100%;
}

.slang-box.contain {
  width: 100%;
  max-width: var(--contain);
  margin-left: auto;
  margin-right: auto;
}

.Type-module_Type__29xAp {
  --multiplier: var(--multiplier-0);
  --mobile-multiplier: var(--mobile-multiplier-0);
  --lhMultiplier: var(--lh-multiplier-0);
  --lhMultiplierMobile: var(--lh-mobile-multiplier-0);
  --errorTopMultiplier: var(--error-top-multiplier-0);
  --errorBottomMultiplier: var(--error-bottom-multiplier-0);
  --unitless-difference: calc(
    var(--multiplier) * var(--base-font-size) - var(--mobile-multiplier) *
      var(--base-font-size-mobile)
  );
  --mobile-size: calc(
    var(--mobile-multiplier) * var(--base-font-size-mobile-px)
  );
  --msnu: calc(var(--mobile-multiplier) * var(--base-font-size-mobile));
  --desktop-size: calc(var(--multiplier) * var(--base-font-size-px));
  --dsnu: calc(var(--multiplier) * var(--base-font-size));
  --fluid-font-size: clamp(
    var(--mobile-size),
    calc(
      var(--mobile-size) + var(--unitless-difference) *
        (
          (100vw - var(--fluid-min-screen-size-px)) /
            (var(--fluid-max-screen-size) - var(--fluid-min-screen-size))
        )
    ),
    var(--desktop-size)
  );
  --mobile-line-height: calc(
    var(--lhMultiplierMobile) * var(--base-font-line-height-mobile)
  );
  --desktop-line-height: calc(
    var(--lhMultiplier) * var(--base-font-line-height)
  );
  --mlhnu: calc(var(--mobile-line-height) * var(--msnu));
  --dlhnu: calc(var(--desktop-line-height) * var(--dsnu));
  --line-height-difference: calc(var(--dlhnu) - var(--mlhnu));
  --fluid-line-height: clamp(
    calc(var(--mlhnu) * 1px),
    calc(
      (var(--mlhnu) * 1px) +
        (
          (100vw - var(--fluid-min-screen-size-px)) *
            var(--line-height-difference) /
            (var(--fluid-max-screen-size) - var(--fluid-min-screen-size))
        )
    ),
    calc(var(--dlhnu) * 1px)
  );
  font-family: var(--base-font-family);
  font-size: var(--fluid-font-size);
  line-height: var(--fluid-line-height);
  margin-top: calc( var(--error-correction-top-px, 0) * var(--errorTopMultiplier, 1));
  margin-bottom: calc( var(--error-correction-bottom-px, 0) * var(--errorBottomMultiplier, 1)); }
  .Type-module_Type__29xAp[class*="size--3"] {
    --multiplier: var(--multiplier--3);
    --mobile-multiplier: var(--mobile-multiplier--3);
    --lhMultiplier: var(--lh-multiplier--3);
    --lhMultiplierMobile: var(--lh-mobile-multiplier--3);
    --errorTopMultiplier: var(--error-top-multiplier--3);
    --errorBottomMultiplier: var(--error-bottom-multiplier--3); }
  .Type-module_Type__29xAp[class*="size--2"] {
    --multiplier: var(--multiplier--2);
    --mobile-multiplier: var(--mobile-multiplier--2);
    --lhMultiplier: var(--lh-multiplier--2);
    --lhMultiplierMobile: var(--lh-mobile-multiplier--2);
    --errorTopMultiplier: var(--error-top-multiplier--2);
    --errorBottomMultiplier: var(--error-bottom-multiplier--2); }
  .Type-module_Type__29xAp[class*="size--1"] {
    --multiplier: var(--multiplier--1);
    --mobile-multiplier: var(--mobile-multiplier--1);
    --lhMultiplier: var(--lh-multiplier--1);
    --lhMultiplierMobile: var(--lh-mobile-multiplier--1);
    --errorTopMultiplier: var(--error-top-multiplier--1);
    --errorBottomMultiplier: var(--error-bottom-multiplier--1); }
  .Type-module_Type__29xAp[class*="size-0"] {
    --multiplier: var(--multiplier-0);
    --mobile-multiplier: var(--mobile-multiplier-0);
    --lhMultiplier: var(--lh-multiplier-0);
    --lhMultiplierMobile: var(--lh-mobile-multiplier-0);
    --errorTopMultiplier: var(--error-top-multiplier-0);
    --errorBottomMultiplier: var(--error-bottom-multiplier-0); }
  .Type-module_Type__29xAp[class*="size-1"] {
    --multiplier: var(--multiplier-1);
    --mobile-multiplier: var(--mobile-multiplier-1);
    --lhMultiplier: var(--lh-multiplier-1);
    --lhMultiplierMobile: var(--lh-mobile-multiplier-1);
    --errorTopMultiplier: var(--error-top-multiplier-1);
    --errorBottomMultiplier: var(--error-bottom-multiplier-1); }
  .Type-module_Type__29xAp[class*="size-2"] {
    --multiplier: var(--multiplier-2);
    --mobile-multiplier: var(--mobile-multiplier-2);
    --lhMultiplier: var(--lh-multiplier-2);
    --lhMultiplierMobile: var(--lh-mobile-multiplier-2);
    --errorTopMultiplier: var(--error-top-multiplier-2);
    --errorBottomMultiplier: var(--error-bottom-multiplier-2); }
  .Type-module_Type__29xAp[class*="size-3"] {
    --multiplier: var(--multiplier-3);
    --mobile-multiplier: var(--mobile-multiplier-3);
    --lhMultiplier: var(--lh-multiplier-3);
    --lhMultiplierMobile: var(--lh-mobile-multiplier-3);
    --errorTopMultiplier: var(--error-top-multiplier-3);
    --errorBottomMultiplier: var(--error-bottom-multiplier-3); }
  .Type-module_Type__29xAp[class*="size-4"] {
    --multiplier: var(--multiplier-4);
    --mobile-multiplier: var(--mobile-multiplier-4);
    --lhMultiplier: var(--lh-multiplier-4);
    --lhMultiplierMobile: var(--lh-mobile-multiplier-4);
    --errorTopMultiplier: var(--error-top-multiplier-4);
    --errorBottomMultiplier: var(--error-bottom-multiplier-4); }
  .Type-module_Type__29xAp[class*="size-5"] {
    --multiplier: var(--multiplier-5);
    --mobile-multiplier: var(--mobile-multiplier-5);
    --lhMultiplier: var(--lh-multiplier-5);
    --lhMultiplierMobile: var(--lh-mobile-multiplier-5);
    --errorTopMultiplier: var(--error-top-multiplier-5);
    --errorBottomMultiplier: var(--error-bottom-multiplier-5); }
  .Type-module_Type__29xAp[class*="size-6"] {
    --multiplier: var(--multiplier-6);
    --mobile-multiplier: var(--mobile-multiplier-6);
    --lhMultiplier: var(--lh-multiplier-6);
    --lhMultiplierMobile: var(--lh-mobile-multiplier-6);
    --errorTopMultiplier: var(--error-top-multiplier-6);
    --errorBottomMultiplier: var(--error-bottom-multiplier-6); }
  .Type-module_Type__29xAp[class*="size-7"] {
    --multiplier: var(--multiplier-7);
    --mobile-multiplier: var(--mobile-multiplier-7);
    --lhMultiplier: var(--lh-multiplier-7);
    --lhMultiplierMobile: var(--lh-mobile-multiplier-7);
    --errorTopMultiplier: var(--error-top-multiplier-7);
    --errorBottomMultiplier: var(--error-bottom-multiplier-7); }

:root {
	--base-font-family:Neue Montreal;
	--base-font-size-px:20px;
	--base-font-size:20;
	--base-font-size-mobile-px:16.84px;
	--base-font-size-mobile:16.84;
	--base-font-line-height:1.5;
	--base-font-line-height-mobile:1.26;
	--base-container-size-px:700px;
	--base-container-size:700;
	--base-spacing-px:22.4px;
	--base-spacing:22.4;
	--base-vertical-spacing-divisor:3;
	--base-horizontal-spacing-divisor:90;
	--base-spacing-scale:1.1;
	--error-correction-top-px:-1.32px;
	--error-correction-top:-1.32;
	--error-correction-top-scale:1.5;
	--error-correction-bottom-px:1.67px;
	--error-correction-bottom:1.67;
	--error-correction-bottom-scale:1.486;
	--type-scale-base:1.421;
	--type-scale-base-mobile:1.16;
	--inverse-type-scale-line-height:0.96;
	--inverse-type-scale-line-height-mobile:0.969;
	--mapping-to-user-agent-headers:4;
	--smallest-border-radius-px:3px;
	--smallest-border-radius:3;
	--fluid-min-screen-size-px:375px;
	--fluid-min-screen-size:375;
	--fluid-max-screen-size-px:1200px;
	--fluid-max-screen-size:1200;
	--space-v-px:7.466666666666666px;
	--space-v:7.466666666666666;
	--space-h-px:7.777777777777778px;
	--space-h:7.777777777777778;
	--multiplier--3:0.3485120239580994;
	--multiplier--2:0.4952355860444593;
	--multiplier--1:0.7037297677691766;
	--multiplier-0:1;
	--multiplier-1:1.421;
	--multiplier-2:2.019241;
	--multiplier-3:2.8693414610000003;
	--multiplier-4:4.077334216081001;
	--multiplier-5:5.793891921051102;
	--multiplier-6:8.233120419813616;
	--multiplier-7:11.699264116555149;
	--multiplier-8:16.624654309624866;
	--mobile-multiplier--3:0.6406576735413507;
	--mobile-multiplier--2:0.7431629013079668;
	--mobile-multiplier--1:0.8620689655172414;
	--mobile-multiplier-0:1;
	--mobile-multiplier-1:1.16;
	--mobile-multiplier-2:1.3456;
	--mobile-multiplier-3:1.5608959999999996;
	--mobile-multiplier-4:1.8106393599999995;
	--mobile-multiplier-5:2.100341657599999;
	--mobile-multiplier-6:2.436396322815999;
	--mobile-multiplier-7:2.8262197344665587;
	--mobile-multiplier-8:3.2784148919812077;
	--lh-multiplier--3:1.1302806712962965;
	--lh-multiplier--2:1.0850694444444444;
	--lh-multiplier--1:1.0416666666666667;
	--lh-multiplier-0:1;
	--lh-multiplier-1:0.96;
	--lh-multiplier-2:0.9216;
	--lh-multiplier-3:0.8847359999999999;
	--lh-multiplier-4:0.8493465599999999;
	--lh-multiplier-5:0.8153726975999999;
	--lh-multiplier-6:0.7827577896959999;
	--lh-multiplier-7:0.7514474781081598;
	--lh-multiplier-8:0.7213895789838334;
	--lh-mobile-multiplier--3:1.0990783899076186;
	--lh-mobile-multiplier--2:1.0650069598204825;
	--lh-mobile-multiplier--1:1.0319917440660475;
	--lh-mobile-multiplier-0:1;
	--lh-mobile-multiplier-1:0.969;
	--lh-mobile-multiplier-2:0.9389609999999999;
	--lh-mobile-multiplier-3:0.9098532089999999;
	--lh-mobile-multiplier-4:0.8816477595209999;
	--lh-mobile-multiplier-5:0.8543166789758488;
	--lh-mobile-multiplier-6:0.8278328619275975;
	--lh-mobile-multiplier-7:0.802170043207842;
	--lh-mobile-multiplier-8:0.7773027718683989;
	--error-top-multiplier--3:0.2962962962962963;
	--error-top-multiplier--2:0.4444444444444444;
	--error-top-multiplier--1:0.6666666666666666;
	--error-top-multiplier-0:1;
	--error-top-multiplier-1:1.5;
	--error-top-multiplier-2:2.25;
	--error-top-multiplier-3:3.375;
	--error-top-multiplier-4:5.0625;
	--error-top-multiplier-5:7.59375;
	--error-top-multiplier-6:11.390625;
	--error-top-multiplier-7:17.0859375;
	--error-top-multiplier-8:25.62890625;
	--error-bottom-multiplier--3:0.30474989996096935;
	--error-bottom-multiplier--2:0.4528583513420005;
	--error-bottom-multiplier--1:0.6729475100942126;
	--error-bottom-multiplier-0:1;
	--error-bottom-multiplier-1:1.486;
	--error-bottom-multiplier-2:2.208196;
	--error-bottom-multiplier-3:3.281379256;
	--error-bottom-multiplier-4:4.876129574416;
	--error-bottom-multiplier-5:7.245928547582176;
	--error-bottom-multiplier-6:10.767449821707114;
	--error-bottom-multiplier-7:16.00043043505677;
	--error-bottom-multiplier-8:23.776639626494358;
	--palette-white-0:#ffffff;
	--palette-white-1:#f3f2f2;
	--palette-white-2:#dadada;
	--palette-black-0:#000000;
	--color-background:var(--palette-white-0);
	--color-foreground:var(--palette-black-0);
 }

.slang-box.flow {
grid-auto-flow: var(--flow);
}
.slang-box.place {
place-content: var(--place);
}
.slang-box.p {
padding: calc(var(--p) * var(--space-h-px));
}
@media(min-width: 768px) {
.slang-box.flow-tablet {
grid-auto-flow: var(--flow-tablet);
}
.slang-box.place-tablet {
place-content: var(--place-tablet);
}
.slang-box.p-tablet {
padding: var(--p-tablet);
}
}
@media(min-width: 1024px) {
.slang-box.flow-desktop {
grid-auto-flow: var(--flow-desktop);
}
.slang-box.place-desktop {
place-content: var(--place-desktop);
}
.slang-box.p-desktop {
padding: var(--p-desktop);
}
}