.Box {
  padding-top: calc(var(--pt, 0) * var(--space-v));
  padding-bottom: calc(var(--pb, 0) * var(--space-v));
  padding-left: calc(var(--pl, 0) * var(--space-h));
  padding-right: calc(var(--pr, 0) * var(--space-h));
}
