.Box {
  padding-top: calc(var(--pt, 0) * var(--space-v-px));
  padding-bottom: calc(var(--pb, 0) * var(--space-v-px));
  padding-left: calc(var(--pl, 0) * var(--space-h-px));
  padding-right: calc(var(--pr, 0) * var(--space-h-px));
  border-radius: calc(var(--btlr, 0) * var(--smallest-border-radius-px))
    calc(var(--btrr, 0) * var(--smallest-border-radius-px))
    calc(var(--bblr, 0) * var(--smallest-border-radius-px))
    calc(var(--bbrr, 0) * var(--smallest-border-radius-px));
}
