/* Modern Normalize does the box sizing... */

* {
  margin: 0;
  padding: 0;
}

/* Cascade heights for Next.js and Create-React-App */
html,
body,
#__next,
#root {
  height: 100%;
  /* height: -webkit-fill-available; */
}

@supports (-webkit-touch-callout: none) {
  html,
  body,
  #__next,
  #root {
    height: -webkit-fill-available;
  }
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--base-font-family);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}
